  <div class="modal fade" id="about-blurb">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3> How is this calculated?</h3>
      </div>        
      <div class="row about-text">
        This calculator is by no means an accurate representation of how much damage you will do to a boss; there are many factors that have yet to be added to the model. Since survivability is not considered, the team that does the most damage according to this calculator will likely not be able to make it in one piece to the last stage. However, you may use it to approximate the impact of using one sub's skill one more time over another sub's skill and get a rough idea of how you should structure your skill sequence.
        <br>
        <br>
        The following are currently considered:
        <ul>
          <li> Skill DMG </li>
          <li> Skill DMG buffs </li>
          <li> Enemy debuffs</li>
          <li> Crit Rate (arbitrary est. 0.4 for ranged, 0.2 for melee) </li>
          <li> Crit DMG buffs </li>
        </ul>
        More to come in the future!
        <br/>
        <br>
        <div class="credits">
          This is an open-source, volunteer-driven project. If you would like to report bugs or make a feature request, please do so at the project <a target="_blank" href="https://github.com/maggaria/OSSCalc/issues">GitHub</a>.
          <br><br>
          Credits: <a target="_blank" href="http://otogidb.com/buffs-debuffs/">Formulae from OtogiDB</a>
        </div>
      </div>
      </div>
    </div>
  </div>  