{{#each positions as |position|}}
	<div class="daemon {{position}}">
		<div class="photo dashed" data-toggle="modal" data-target="#daemon-form">
			<span>+</span>
		</div>
		<h4>{{position}}</h4>
		<div class="stats">
		</div>
	</div>
{{/each}}