<label>Type</label>
<select id="type" class="form-control">
	<option value="">-- Select --</option>
	<option value="Anima">Anima</option>
	<option value="Divina">Divina</option>
	<option value="Phantasma">Phantasma</option>
</select>