<label>Role</label>
<select id="role" class="form-control">
  <option value="">-- Select --</option>
  <option value="melee">Melee</option>
  <option value="ranged">Ranged</option>
  <option value="healer">Healer</option>
</select>