<label>Target Condition</label>
<select id="sort-order" class="form-control">
  <option value="">-- Select --</option>
  <option value="HIGH_ATK">Highest ATK</option>
  <option value="HIGH_HP">Highest HP</option>
</select>    