<label>Number of Targets</label>
<select id="targets" class="form-control">
  <option value="">-- Select --</option>
  <option value="target-1">1</option>
  <option value="target-2">2</option>
  <option value="target-3">3</option>
  <option value="target-all">All</option>
</select>