<label>Skill Effect</label>
<select id="skill-effect" class="form-control">
  <option value="">-- Select --</option>
  <option value="DMG_INCREASE">Increase Ally Atk</option>
  <option value="DMG_DEALT">Reduce Enemy Def (Percent)</option>
  <option value="CONST_DMG_DEALT">Reduce Enemy Def (Integer)</option>
  <option value="CRIT_RATE">Crit Rate Buff</option>
  <option value="CRIT_DMG">Crit DMG Buff</option>
</select>   