<label>Preset Daemons</label>
<select id="presets" class="form-control">
  <option value="">-- Select --</option>
  <option value="TE">Titanium Elf (Lv90)</option>
  <option value="A">Amanojaku (Lv80)</option>
  <option value="F">Freyr (Lv90)</option>
  <option value="K">Katsushika Hokusai (Lv80)</option>
  <option value="TNY">Titania [New Year] (Lv90)</option>
  <option value="B">Belphegor (Lv90)</option>
  <option value="S">Socrates (Lv90)</option>
  <option value="G">Guillotine (Lv90)</option>
</select>