<label>Effect Num Format</label>
<select id="effect-num-format" class="form-control">
  <option value="">-- Select --</option>
  <option value="int">Integer</option>
  <option value="percent">Percent</option>
</select>