<select class="form-control">
  <option value="">-- Select --</option>
  <option val="star-1">1 star</option>
  <option val="star-2">2 star</option>
  <option val="star-3">3 star</option>
  <option val="star-4">4 star</option>
  <option val="star-5">5 star</option>
</select>      