  <h1><span class="label label-info">BETA</span> Otogi Skill Sequence Calculator</h1>
  
  <div class="team row">
    <div class="daemon leader"><div class="photo dashed" data-toggle="modal" data-target="#daemon-form"><span>+</span></div><h4>Leader</h4><div class="stats"></div></div>
    <div class="daemon sub1"><div class="photo dashed" data-toggle="modal" data-target="#daemon-form"><span>+</span></div><h4>Sub 1</h4><div class="stats"></div></div>
    <div class="daemon sub2"><div class="photo dashed" data-toggle="modal" data-target="#daemon-form"><span>+</span></div><h4>Sub 2</h4><div class="stats"></div></div>
    <div class="daemon sub3"><div class="photo dashed" data-toggle="modal" data-target="#daemon-form"><span>+</span></div><h4>Sub 3</h4><div class="stats"></div></div>
    <div class="daemon helper"><div class="photo dashed" data-toggle="modal" data-target="#daemon-form"><span>+</span></div><h4>Helper</h4><div class="stats"></div></div>    
  </div>

  <div class="sequence">
    <form>
      <label>Skill Sequence</label>
      <p>L = Leader, S1 = Sub 1, S2 = Sub 2, S3 = Sub 3, H = Helper</p>
      <p>Separate each daemon with a comma (ie: L,H,S1,H,S2)</p>
      <input id="skill-sequence" class="form-control" type="text">
      <div class="row">
        <button id="submit-seq" type="submit" class="btn btn-primary action-button" value="submit">Run Sequence</button>
        <button id="optimize-seq" class="btn btn-primary action-button">Optimize</button>
      </div>
    </form>
  </div>
  
  <div class="result">

  
  </div>
  
  <div class="about" data-toggle="modal" data-target="#about-blurb"><h1><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h1></div>
  
  <div class="modal fade" id="about-blurb">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3> How is this calculated?</h3>
      </div>        
      <div class="row about-text">
        This calculator is by no means an accurate representation of how much damage you will do to a boss; there are many factors that have yet to be added to the model. Since survivability is not considered, the team that does the most damage according to this calculator will likely not be able to make it in one piece to the last stage. However, you may use it to approximate the impact of using one sub's skill one more time over another sub's skill and get a rough idea of how you should structure your skill sequence.
        <br>
        <br>
        The following are currently considered:
        <ul>
          <li> Skill DMG </li>
          <li> Skill DMG buffs </li>
          <li> Enemy debuffs</li>
          <li> Crit Rate (arbitrary est. 0.4 for ranged, 0.2 for melee) </li>
          <li> Crit DMG buffs </li>
        </ul>
        More to come in the future!
        <br/>
        <br>
        <div class="credits">
          This is an open-source, volunteer-driven project. If you would like to report bugs or make a feature request, please do so at the project <a target="_blank" href="https://github.com/maggaria/OSSCalc/issues">GitHub</a>.
          <br><br>
          Credits: <a target="_blank" href="http://otogidb.com/buffs-debuffs/">Formulae from OtogiDB</a>
        </div>
      </div>
      </div>
    </div>
  </div>  
  
  <div class="modal fade" id="daemon-form">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Enter Daemon Info</h4>
        </div>
        <form>
        <div class="modal-body">
          <div class="row">
            <div class="position col-md-12">
              <label>Position</label><p>Leader</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <label>Preset Daemons</label>
              <select id="presets" class="form-control">
                <option value="">-- Select --</option>
                <option value="TE">Titanium Elf (Lv90)</option>
                <option value="A">Amanojaku (Lv80)</option>
                <option value="F">Freyr (Lv90)</option>
                <option value="K">Katsushika Hokusai (Lv80)</option>
                <option value="TNY">Titania [New Year] (Lv90)</option>
                <option value="B">Belphegor (Lv90)</option>
                <option value="S">Socrates (Lv90)</option>
                <option value="G">Guillotine (Lv90)</option>
              </select>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <button id="select-preset" type="submit" class="btn btn-primary" value="submit">Add Preset</button>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>OR</h5>
            </div>
          </div>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Basic Stats</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-xs-12 col-md-3">
                      <label>Role</label>
                      <select id="role" class="form-control">
                        <option value="">-- Select --</option>
                        <option value="melee">Melee</option>
                        <option value="ranged">Ranged</option>
                        <option value="healer">Healer</option>
                      </select>
                    </div>          
                    <div class="form-group col-xs-12 col-md-3">
                      <label>Type</label>
                      <select id="type" class="form-control">
                        <option value="">-- Select --</option>
                        <option value="Anima">Anima</option>
                        <option value="Divina">Divina</option>
                        <option value="Phantasma">Phantasma</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                      <label>ATK</label>
                      <input id="atk" type="number" class="form-control" name="atk" placeholder="0">
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                      <label>HP</label>
                      <input id="hp" type="number" class="form-control" name="hp" placeholder="0">
                    </div>            
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Skill</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                      <label>Skill DMG</label><input id="skill-dmg" type="number" class="form-control" name="skill-dmg" placeholder="0">
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                      <label>Number of Targets</label>
                      <select id="targets" class="form-control">
                        <option value="">-- Select --</option>
                        <option value="target-1">1</option>
                        <option value="target-2">2</option>
                        <option value="target-3">3</option>
                        <option value="target-all">All</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                      <label>Target Condition</label>
                      <select id="sort-order" class="form-control">
                        <option value="">-- Select --</option>
                        <option value="HIGH_ATK">Highest ATK</option>
                        <option value="HIGH_HP">Highest HP</option>
                      </select>                
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                      <label>Skill Effect</label>
                      <select id="skill-effect" class="form-control">
                        <option value="">-- Select --</option>
                        <option value="DMG_INCREASE">Increase Ally Atk</option>
                        <option value="DMG_DEALT">Reduce Enemy Def (Percent)</option>
                        <option value="CONST_DMG_DEALT">Reduce Enemy Def (Integer)</option>
                        <option value="CRIT_RATE">Crit Rate Buff</option>
                        <option value="CRIT_DMG">Crit DMG Buff</option>
                      </select>       
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                      <label>Effect Num Format</label>
                      <select id="effect-num-format" class="form-control">
                        <option value="">-- Select --</option>
                        <option value="int">Integer</option>
                        <option value="percent">Percent</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                      <label>Effect Value</label><input id="effect-val" class="form-control" type="number" name="effect-val" placeholder="0"> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Bonds</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                      <label>First Bond</label>
                      <select id="bond-1" class="form-control">
                        <option value="">-- Select --</option>
                        <option val="star-1">1 star</option>
                        <option val="star-2">2 star</option>
                        <option val="star-3">3 star</option>
                        <option val="star-4">4 star</option>
                        <option val="star-5">5 star</option>
                      </select>                
                    </div>
                    <div class="form-group col-xs-6 col-md-4">
                      <label>Second Bond</label>
                      <select id="bond-2" class="form-control">
                        <option value="">-- Select --</option>
                        <option val="star-1">1 star</option>
                        <option val="star-2">2 star</option>
                        <option val="star-3">3 star</option>
                        <option val="star-4">4 star</option>
                        <option val="star-5">5 star</option>
                      </select>                
                    </div>
                    <div class="form-group col-xs-6 col-md-4">
                      <label>Third Bond</label>
                      <select id="bond-3" class="form-control">
                        <option value="">-- Select --</option>
                        <option val="star-1">1 star</option>
                        <option val="star-2">2 star</option>
                        <option val="star-3">3 star</option>
                        <option val="star-4">4 star</option>
                        <option val="star-5">5 star</option>
                      </select>                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                  Abilities</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item active">
                        <a data-toggle="tab" class="nav-link" href="#p1">Ability 1</a>
                      </li>
                      <li class="nav-item">
                        <a data-toggle="tab" class="nav-link" href="#p2">Ability 2</a>
                      </li>
                      <li class="nav-item">
                        <a data-toggle="tab" class="nav-link" href="#p3">Ability 3</a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content">
                    <div id="p1" class="tab-pane fade in active">
                      <div class="card-block">
                        <div id="passive1">
                        <div class="row">
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Ability Effect</label>
                            <select id="passive1-effect" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="DMG_INCREASE">Increase Ally Atk</option>
                              <option value="DMG_DEALT">Reduce Enemy Def (Percent)</option>
                              <option value="CONST_DMG_DEALT">Reduce Enemy Def (Integer)</option>
                              <option value="CRIT_RATE">Crit Rate Buff</option>
                              <option value="CRIT_DMG">Crit DMG Buff</option>
                            </select>       
                          </div>
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Effect Num Format</label>
                            <select id="passive1-effect-num-format" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="int">Integer</option>
                              <option value="percent">Percent</option>
                            </select>
                          </div>
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Effect Value</label><input id="passive1-effect-val" class="form-control" type="number" name="effect-val" placeholder="0"> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Target Type</label>
                            <select id="passive1-target-type" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="self">Self</option>
                              <option value="all">All</option>
                              <option value="role">Role</option>
                              <option value="type">Type</option>
                              <option value="name">Name</option>
                              <option value="priority">Priority</option>
                              <option value="highest">Highest</option>
                              <option value="lowest">Lowest</option>
                              <option value="random">Random</option>
                            </select>       
                          </div>
                          <div id="passive1-role-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <select id="passive1-role" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="melee">Melee</option>
                              <option value="ranged">Ranged</option>
                              <option value="healer">Healer</option>
                            </select> 
                          </div>
                          <div id="passive1-sort-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <select id="passive1-target-sort" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="atk">ATK</option>
                              <option value="hp">HP</option>
                            </select> 
                          </div>
                          <div id="passive1-name-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <input id="passive1-name" class="form-control" placeholder="e.g. H,S1,S3">
                          </div>
                          <div id="passive1-type-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <select id="passive1-type" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="A">Anima</option>
                              <option value="D">Divina</option>
                              <option value="P">Phantasma</option>
                            </select> 
                          </div>
                          <div id="passive1-number-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label># Targets</label>
                            <input id="passive1-n-targets" class="form-control" type="number" name="n-targets" placeholder="0"> 
                          </div>
                          
                        </div>
                      </div>
                      </div>
                    </div>
                    <div id="p2" class="tab-pane fade">
                      <div class="card-block">
                        <div id="passive2">
                        <div class="row">
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Ability Effect</label>
                            <select id="passive2-effect" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="DMG_INCREASE">Increase Ally Atk</option>
                              <option value="DMG_DEALT">Reduce Enemy Def (Percent)</option>
                              <option value="CONST_DMG_DEALT">Reduce Enemy Def (Integer)</option>
                              <option value="CRIT_RATE">Crit Rate Buff</option>
                              <option value="CRIT_DMG">Crit DMG Buff</option>
                            </select>       
                          </div>
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Effect Num Format</label>
                            <select id="passive2-effect-num-format" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="int">Integer</option>
                              <option value="percent">Percent</option>
                            </select>
                          </div>
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Effect Value</label><input id="passive2-effect-val" class="form-control" type="number" name="effect-val" placeholder="0"> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-xs-12 col-md-4">
                            <label>Target Type</label>
                            <select id="passive2-target-type" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="self">Self</option>
                              <option value="all">All</option>
                              <option value="role">Role</option>
                              <option value="type">Type</option>
                              <option value="name">Name</option>
                              <option value="priority">Priority</option>
                              <option value="highest">Highest</option>
                              <option value="lowest">Lowest</option>
                              <option value="random">Random</option>
                            </select>       
                          </div>
                          <div id="passive2-role-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <select id="passive2-target-role" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="melee">Melee</option>
                              <option value="ranged">Ranged</option>
                              <option value="healer">Healer</option>
                            </select> 
                          </div>
                          <div id="passive2-sort-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <select id="passive2-target-sort" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="atk">ATK</option>
                              <option value="hp">HP</option>
                            </select> 
                          </div>
                          <div id="passive2-name-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <input id="passive1-name" class="form-control" placeholder="e.g. H,S1,S3">
                          </div>
                          <div id="passive2-type-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label>&nbsp;</label>
                            <select id="passive2-type" class="form-control">
                              <option value="">-- Select --</option>
                              <option value="A">Anima</option>
                              <option value="D">Divina</option>
                              <option value="P">Phantasma</option>
                            </select> 
                          </div>
                          <div id="passive2-number-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                            <label># Targets</label>
                            <input id="passive2-n-targets" class="form-control" type="number" name="n-targets" placeholder="0"> 
                          </div>
                          
                        </div>
                      </div>
                      </div>

                    </div>
                    <div id="p3" class="tab-pane fade">
                      <div class="card-block">
                      <div id="passive3">
                      <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                          <label>Ability Effect</label>
                          <select id="passive3-effect" class="form-control">
                            <option value="">-- Select --</option>
                            <option value="DMG_INCREASE">Increase Ally Atk</option>
                            <option value="DMG_DEALT">Reduce Enemy Def (Percent)</option>
                            <option value="CONST_DMG_DEALT">Reduce Enemy Def (Integer)</option>
                            <option value="CRIT_RATE">Crit Rate Buff</option>
                            <option value="CRIT_DMG">Crit DMG Buff</option>
                          </select>       
                        </div>
                        <div class="form-group col-xs-12 col-md-4">
                          <label>Effect Num Format</label>
                          <select id="passive3-effect-num-format" class="form-control">
                            <option value="">-- Select --</option>
                            <option value="int">Integer</option>
                            <option value="percent">Percent</option>
                          </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-4">
                          <label>Effect Value</label><input id="passive3-effect-val" class="form-control" type="number" name="effect-val" placeholder="0"> 
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                          <label>Target Type</label>
                          <select id="passive3-target-type" class="form-control">
                            <option value="">-- Select --</option>
                            <option value="self">Self</option>
                            <option value="all">All</option>
                            <option value="role">Role</option>
                            <option value="type">Type</option>
                            <option value="name">Name</option>
                            <option value="priority">Priority</option>
                            <option value="highest">Highest</option>
                            <option value="lowest">Lowest</option>
                            <option value="random">Random</option>
                          </select>       
                        </div>
                        <div id="passive3-role-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                          <label>&nbsp;</label>
                          <select id="passive3-role" class="form-control">
                            <option value="">-- Select --</option>
                            <option value="melee">Melee</option>
                            <option value="ranged">Ranged</option>
                            <option value="healer">Healer</option>
                          </select> 
                        </div>
                        <div id="passive3-sort-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                          <label>&nbsp;</label>
                          <select id="passive3-target-sort" class="form-control">
                            <option value="">-- Select --</option>
                            <option value="atk">ATK</option>
                            <option value="hp">HP</option>
                          </select> 
                        </div>
                        <div id="passive3-name-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                          <label>&nbsp;</label>
                          <input id="passive1-name" class="form-control" placeholder="e.g. H,S1,S3">
                        </div>
                        <div id="passive3-type-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                          <label>&nbsp;</label>
                          <select id="passive3-type" class="form-control">
                            <option value="">-- Select --</option>
                            <option value="A">Anima</option>
                            <option value="D">Divina</option>
                            <option value="P">Phantasma</option>
                          </select> 
                        </div>
                        <div id="passive3-number-box" class="hidden form-group col-xs-12 col-md-4 passive-sub">
                          <label># Targets</label>
                          <input id="passive-n-targets" class="form-control" type="number" name="n-targets" placeholder="0"> 
                        </div>
                      
                    </div>
                  </div>
                  </div></div>
                  </div>
                  </div></div></div></div>
          </div>      
        </div>
        <div class="modal-footer">
          <button id="add-daemon" type="submit" class="btn btn-primary" value="submit">Add Daemon</button>
          <button id="remove-daemon" type="submit" class="btn btn-danger" value="submit">Remove Daemon</button>
          <button id="update-daemon" type="submit" class="btn btn-primary" value="submit">Update Daemon</button>
        </div>
        </form>
      </div>
    </div>
  </div>